@import './layout.scss';
@import './elementui.scss';

body {
  height: 100%;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

label {
  font-weght: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

h1, p {
  padding: 0;
  margin: 0;
}

//伪类清除浮动
.clearfix{
  &:after {
    content: '';
    display: table;
    overflow: hidden;
    clear: both;
  }
}